<?xml version="1.0"?>
<!--
/**
 * Magendoo Faq Events configuration
 *
 * @category  Magendoo
 * @package   Magendoo_Faq
 * @copyright Copyright (c) Magendoo (https://magendoo.com)
 * @license   https://opensource.org/licenses/OSL-3.0 Open Software License v. 3.0 (OSL-3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!-- Category URL rewrite -->
    <event name="magendoo_faq_category_save_after">
        <observer name="magendoo_faq_category_url_rewrite"
                  instance="Magendoo\Faq\Observer\UrlRewrite\CategorySaveObserver"/>
    </event>

    <!-- Question URL rewrite -->
    <event name="magendoo_faq_question_save_after">
        <observer name="magendoo_faq_question_url_rewrite"
                  instance="Magendoo\Faq\Observer\UrlRewrite\QuestionSaveObserver"/>
    </event>
</config>
